<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>

          <h4 class="modal-title">Large modal</h4>

      </div>
      <div class="modal-body">

        <people-view-details [person]="selectedPerson"></people-view-details>

      </div>
    </div>
  </div>
</div>
